 importo file csv dal pc attraverso pandas. avrei potuto importarlo però anche direttamente dal sito, passando url nella parentesi tonda

In [308]:
import pandas as pd
df = pd.read_csv('owid-covid-data_desk.csv', low_memory=False)   #df sarà il nome del dataframe

esploro il dataframe

In [204]:
df.shape #per avere le dimensioni del df(righe, colonne)

(311510, 67)

In [5]:
df.info()   #ottengo così più informazioni sul df compreso il conteggio dei dati non nulli e la tipologia

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311510 entries, 0 to 311509
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    311510 non-null  object
 1   continent                                   296683 non-null  object
 2   location                                    311510 non-null  object
 3   date                                        311510 non-null  object
 4   total_cases                                 275335 non-null  float64
 5   new_cases                                   302655 non-null  float64
 6   new_cases_smoothed                          301391 non-null  float64
 7   total_deaths                                254635 non-null  float64
 8   new_deaths                                  302735 non-null  float64
 9   new_deaths_smoothed                         301505 non-null  float64
 10  total_cases_per_million                     275335 non-null  float64
 11  new_cases_per_million                       302655 non-null  float64
 12  new_cases_smoothed_per_million              301391 non-null  float64
 13  total_deaths_per_million                    254635 non-null  float64
 14  new_deaths_per_million                      302735 non-null  float64
 15  new_deaths_smoothed_per_million             301505 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                36080 non-null   float64
 18  icu_patients_per_million                    36080 non-null   float64
 19  hosp_patients                               36869 non-null   float64
 20  hosp_patients_per_million                   36869 non-null   float64
 21  weekly_icu_admissions                       9480 non-null    float64
 22  weekly_icu_admissions_per_million           9480 non-null    float64
 23  weekly_hosp_admissions                      21916 non-null   float64
 24  weekly_hosp_admissions_per_million          21916 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          75076 non-null   float64
 35  people_vaccinated                           71927 non-null   float64
 36  people_fully_vaccinated                     68446 non-null   float64
 37  total_boosters                              43698 non-null   float64
 38  new_vaccinations                            61769 non-null   float64
 39  new_vaccinations_smoothed                   168226 non-null  float64
 40  total_vaccinations_per_hundred              75076 non-null   float64
 41  people_vaccinated_per_hundred               71927 non-null   float64
 42  people_fully_vaccinated_per_hundred         68446 non-null   float64
 43  total_boosters_per_hundred                  43698 non-null   float64
 44  new_vaccinations_smoothed_per_million       168226 non-null  float64
 45  new_people_vaccinated_smoothed              168223 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  168223 non-null  float64
 47  stringency_index                            193107 non-null  float64
 48  population_density                          264320 non-null  float64
 49  median_age                                  245823 non-null  float64
 50  aged_65_older                               237238 non-null  float64
 51  aged_70_older                               243356 non-null  float64
 52  gdp_per_capita                              240928 non-null  float64
 53  extreme_poverty                             155200 non-null  float64
 54  cardiovasc_death_rate                       241360 non-null  float64
 55  diabetes_prevalence                         253677 non-null  float64
 56  female_smokers                              181074 non-null  float64
 57  male_smokers                                178608 non-null  float64
 58  handwashing_facilities                      118210 non-null  float64
 59  hospital_beds_per_thousand                  213080 non-null  float64
 60  life_expectancy                             286446 non-null  float64
 61  human_development_index                     233976 non-null  float64
 62  population                                  311510 non-null  float64
 63  excess_mortality_cumulative_absolute        10669 non-null   float64
 64  excess_mortality_cumulative                 10669 non-null   float64
 65  excess_mortality                            10669 non-null   float64
 66  excess_mortality_cumulative_per_million     10669 non-null   float64
dtypes: float64(62), object(5)
memory usage: 159.2+ MB

In [6]:
df.columns  #così posso vedere tutti i nomi delle colonne

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [7]:
df.head(5)  #vedo le prime 5 righe del df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [8]:
df.tail(5) #controllo le ultime 5 righe del df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
311505,ZWE,Africa,Zimbabwe,2023-05-13,264821.0,5.0,10.286,5690.0,1.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311506,ZWE,Africa,Zimbabwe,2023-05-14,264841.0,20.0,10.714,5690.0,0.0,0.429,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311507,ZWE,Africa,Zimbabwe,2023-05-15,264848.0,7.0,10.286,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311508,ZWE,Africa,Zimbabwe,2023-05-16,264848.0,0.0,9.429,5690.0,0.0,0.286,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
311509,ZWE,Africa,Zimbabwe,2023-05-17,264848.0,0.0,8.143,5690.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [4]:
df.describe()  #descrivo il df attraverso alcuni descrittori statistici

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,2.753350e+05,3.026550e+05,3.013910e+05,2.546350e+05,302735.000000,301505.000000,275335.000000,302655.000000,301391.000000,254635.000000,...,178608.000000,118210.000000,213080.000000,286446.000000,233976.000000,3.115100e+05,1.066900e+04,10669.000000,10669.000000,10669.000000
mean,5.767156e+06,1.073397e+04,1.077678e+04,8.061661e+04,95.740952,96.103652,88010.375666,161.890445,162.525589,811.194069,...,32.911118,50.792342,3.097773,73.718956,0.722521,1.284065e+08,4.739668e+04,9.538903,12.633550,1477.149682
std,3.600088e+07,1.030085e+05,1.002455e+05,4.164645e+05,600.706338,591.334247,138439.520139,1127.171598,634.547240,1053.772688,...,13.572861,31.957039,2.548706,7.396725,0.148989,6.605735e+08,1.384241e+05,12.914011,26.344219,1840.907839
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-1984.281600
25%,6.565000e+03,0.000000e+00,1.143000e+00,1.210000e+02,0.000000,0.000000,2039.082000,0.000000,0.246000,50.398500,...,22.600000,20.859000,1.300000,69.590000,0.602000,4.490020e+05,2.780000e+01,0.560000,-1.200000,24.645111
50%,6.239700e+04,1.700000e+01,3.771400e+01,1.230000e+03,0.000000,0.286000,20898.389000,2.396000,10.664000,338.621000,...,33.100000,49.839000,2.500000,75.050000,0.740000,5.882259e+06,4.530999e+03,7.750000,6.490000,900.418500
75%,6.419815e+05,5.230000e+02,6.310000e+02,1.064800e+04,6.000000,6.714000,107810.942500,68.501000,103.445000,1246.603000,...,41.300000,83.241000,4.200000,79.460000,0.829000,2.830170e+07,3.159700e+04,15.360000,18.070000,2399.257000
max,7.664400e+08,7.460822e+06,6.410667e+06,6.932578e+06,20027.000000,14677.857000,737554.506000,228872.025000,37241.781000,6476.319000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.282260e+06,76.550000,377.300000,10291.122000

In [19]:
df.count()         #conteggio delle occorrenze

iso_code                                   311510
continent                                  296683
location                                   311510
date                                       311510
total_cases                                275335
                                            ...
population                                 311510
excess_mortality_cumulative_absolute        10669
excess_mortality_cumulative                 10669
excess_mortality                            10669
excess_mortality_cumulative_per_million     10669
Length: 67, dtype: int64

In [16]:
valori_nulli = df.isna().sum()
print(valori_nulli)                     # controllo quanti valori nulli sono presenti

iso_code                                        0
continent                                   14827
location                                        0
date                                            0
total_cases                                 36175
                                            ...
population                                      0
excess_mortality_cumulative_absolute       300841
excess_mortality_cumulative                300841
excess_mortality                           300841
excess_mortality_cumulative_per_million    300841
Length: 67, dtype: int64

In [18]:
valori_non_nulli = df.notnull().sum()
print(valori_non_nulli)                   #per fare un doppio check conto anche quanti valori non nulli ci sono.

iso_code                                   311510
continent                                  296683
location                                   311510
date                                       311510
total_cases                                275335
                                            ...
population                                 311510
excess_mortality_cumulative_absolute        10669
excess_mortality_cumulative                 10669
excess_mortality                            10669
excess_mortality_cumulative_per_million     10669
Length: 67, dtype: int64

### Da questo controllo incrociato posso vedere che i dati relativi alla colonna 'location' sono sempre presenti,  quelli relativi alla colonna 'continent' invece no

# PUNTO 2 Per verificare il numero di casi per continente procedo usando un groupby e un sum . Automaticamente i continenti senza dicitura vengono scartati

In [253]:
df.groupby(['continent'])['new_cases'].sum()     #come si può notare la colonna raggruppata dei nan non compare

continent
Africa            13088991.0
Asia             297234406.0
Europe           249319188.0
North America    124175560.0
Oceania           14073975.0
South America     68568119.0
Name: new_cases, dtype: float64

### Visto che alla fine l'esercizio chiede un confronto tra Europa, Sud America, Oceania; intanto guardo i valori totali per questi 3 casi, considerando che ci sono dei continenti nan non considerati

In [254]:
filtro1 = df.loc[:, "continent"]=="Europe"
output = df.loc[filtro1, "new_cases"]
print("i casi in europa sono:", output.sum())

i casi in europa sono: 249319188.0

In [255]:
filtro2 = df.loc[:, "continent"]=="South America"
output2 = df.loc[filtro2, "new_cases"]
print("i casi in sud america sono:", output2.sum())

i casi in sud america sono: 68568119.0

In [127]:
filtro3 = df.loc[:, "continent"]=="Oceania"
output3 = df.loc[filtro2, "new_cases"]
print("i casi in oceania sono:", output3.sum())

i casi in oceania sono: 68568119.0

In [256]:
totali_mondo = df["new_cases"].sum()
print(totali_mondo)

3248689566.0

## PUNTO 3 per calcolare max, min, media e percentuale provo a scrivere una funzione da richiamare successivamente. Caso 1: solo i continenti specificati

In [257]:
def descrittori (df, country1, country2):
    c1 = df.loc[:, "continent"]== country1
    c2 = df.loc[:, "continent"]== country2    
    
    output_perc = df.loc[c1, "new_cases"].sum()
    output_perc2 = df.loc[c2, "new_cases"].sum()
    
    totali_mondo = df["new_cases"].sum()
    
    massimo_c1 = df.loc[c1,"new_cases"].max()
    minimo_c1 = df.loc[c1,"new_cases"].min()
    media_c1 = df.loc[c1,"new_cases"].mean()
    massimo_c2 = df.loc[c2,"new_cases"].max()
    minimo_c2 = df.loc[c2,"new_cases"].min()
    media_c2 = df.loc[c2,"new_cases"].mean()
    perc1 = (output_perc/totali_mondo)*100
    perc2 = (output_perc2/totali_mondo)*100
    
    #return(massimo_c1, minimo_c1,media_c1,massimo_c2, minimo_c2,media_c2)
    print("per il continente 1:", "massimo:", massimo_c1,"minimo:", minimo_c1,"media:",media_c1, "la percentuale sui casi totali nel mondo è:",perc1)
    print("per il continente 2:", "massimo:", massimo_c2,"minimo:", minimo_c2,"media:",media_c2, "la percentuale sui casi totali nel mondo è:", perc2)

In [258]:
descrittori(df, "Europe", "Asia")

per il continente 1: massimo: 500563.0 minimo: 0.0 media: 3973.7840965238042 la percentuale sui casi totali nel mondo è: 7.674454050929162
per il continente 2: massimo: 6966046.0 minimo: 0.0 media: 5142.107916407169 la percentuale sui casi totali nel mondo è: 9.149363149707607

In [259]:
descrittori(df, "South America", "Oceania")

per il continente 1: massimo: 298408.0 minimo: 0.0 media: 3983.276344835599 la percentuale sui casi totali nel mondo è: 2.1106393087729085
per il continente 2: massimo: 588813.0 minimo: 0.0 media: 476.4378808395396 la percentuale sui casi totali nel mondo è: 0.433220063477127

In [260]:
def vaccini (df, country1, country2):
    v1 = df.loc[:, "continent"]== country1
    v2 = df.loc[:, "continent"]== country2    
    
    output_v1 = df.loc[v1, "new_vaccinations"].sum()
    output_v2 = df.loc[v2, "new_vaccinations"].sum()
    
    totali_mondo_vacc = df["total_vaccinations"].sum()
    
    massimo_v1 = df.loc[v1,"new_vaccinations"].max()
    minimo_v1 = df.loc[v1,"new_vaccinations"].min()
    media_v1 = df.loc[v1,"new_vaccinations"].mean()
    massimo_v2 = df.loc[v2,"new_vaccinations"].max()
    minimo_v2 = df.loc[v2,"new_vaccinations"].min()
    media_v2 = df.loc[v2,"new_vaccinations"].mean()
    perc_v1 = (output_v1/totali_mondo)*100
    perc_v2 = (output_v2/totali_mondo)*100
    
   
    print("per il continente 1:", "massimo:", massimo_v1,"minimo:", minimo_v1,"media:",media_v1, "la percentuale sui vaccini totali nel mondo è:",perc_v1)
    print("per il continente 2:", "massimo:", massimo_v2,"minimo:", minimo_v2,"media:",media_v2, "la percentuale sui vaccini totali nel mondo è:", perc_v2)

In [261]:
vaccini(df, "Europe", "Asia")

per il continente 1: massimo: 2389472.0 minimo: 0.0 media: 59965.76519677573 la percentuale sui vaccini totali nel mondo è: 38.92886538731845
per il continente 2: massimo: 24741000.0 minimo: 0.0 media: 510263.12006489997 la percentuale sui vaccini totali nel mondo è: 232.33405096607495

In [262]:
descrittori(df, "South America", "Oceania")

per il continente 1: massimo: 298408.0 minimo: 0.0 media: 3983.276344835599 la percentuale sui casi totali nel mondo è: 2.1106393087729085
per il continente 2: massimo: 588813.0 minimo: 0.0 media: 476.4378808395396 la percentuale sui casi totali nel mondo è: 0.433220063477127

### CASO 2 per considerare i valori che non hanno una corrispondenza nella colonna 'continent' ma sono invece presenti nella colonna 'location', **come richiesto da esercizio**, provo a usare il fillna. In pratica ho sostituito i valori vuoti della colonna continente con i rispettivi della location

In [297]:
df['continent']=df['continent'].fillna(df["location"])   #sostituzione dei continenti vuoti con le rispettive località

## ricalcolo tutto ciò che ho fatto prima

In [298]:
filtro4 = df.loc[:, "continent"]=="Europe"
output = df.loc[filtro4, "new_cases"]
print("i casi in europa sono:", output.sum())

i casi in europa sono: 249319188.0

In [299]:
filtro5 = df.loc[:, "continent"]=="South America"
output5 = df.loc[filtro5, "new_cases"]
print("i casi in sud america sono:", output5.sum())

i casi in sud america sono: 68568119.0

In [300]:
filtro6 = df.loc[:, "continent"]=="Oceania"
output6 = df.loc[filtro6, "new_cases"]
print("i casi in oceania sono:", output6.sum())

i casi in oceania sono: 14073975.0

In [301]:
descrittori(df, "Europe", "Asia")

per il continente 1: massimo: 500563.0 minimo: 0.0 media: 3973.7840965238042 la percentuale sui casi totali nel mondo è: 32.528652539796
per il continente 2: massimo: 6966046.0 minimo: 0.0 media: 5142.107916407169 la percentuale sui casi totali nel mondo è: 38.78014681985349

In [302]:
descrittori(df, "South America", "Oceania")

per il continente 1: massimo: 298408.0 minimo: 0.0 media: 3983.276344835599 la percentuale sui casi totali nel mondo è: 8.946076457855238
per il continente 2: massimo: 588813.0 minimo: 0.0 media: 476.4378808395396 la percentuale sui casi totali nel mondo è: 1.8362302809552526

# Vaccini

In [303]:
df['continent']=df['continent'].fillna(df["location"])   #sostituzione dei continenti vuoti con le rispettive località

In [304]:
def vaccini (df, country1, country2):
    v1 = df.loc[:, "continent"]== country1
    v2 = df.loc[:, "continent"]== country2    
    
    output_v1 = df.loc[v1, "new_vaccinations"].sum()
    output_v2 = df.loc[v2, "new_vaccinations"].sum()
    
    totali_mondo_vacc = df["new_vaccinations"].sum()
    
    massimo_v1 = df.loc[v1,"new_vaccinations"].max()
    minimo_v1 = df.loc[v1,"new_vaccinations"].min()
    media_v1 = df.loc[v1,"new_vaccinations"].mean()
    massimo_v2 = df.loc[v2,"new_vaccinations"].max()
    minimo_v2 = df.loc[v2,"new_vaccinations"].min()
    media_v2 = df.loc[v2,"new_vaccinations"].mean()
    perc_v1 = (output_v1/totali_mondo_vacc)*100
    perc_v2 = (output_v2/totali_mondo_vacc)*100
    
   
    print("per il continente 1:", "massimo:", massimo_v1,"minimo:", minimo_v1,"media:",media_v1, "la percentuale sui vaccini totali nel mondo è:",perc_v1)
    print("per il continente 2:", "massimo:", massimo_v2,"minimo:", minimo_v2,"media:",media_v2, "la percentuale sui vaccini totali nel mondo è:", perc_v2)

In [305]:
vaccini(df, "Europe", "Asia")

per il continente 1: massimo: 2389472.0 minimo: 0.0 media: 59965.76519677573 la percentuale sui vaccini totali nel mondo è: 11.661595398357601
per il continente 2: massimo: 24741000.0 minimo: 0.0 media: 510263.12006489997 la percentuale sui vaccini totali nel mondo è: 69.59837315244167

In [306]:
descrittori(df, "South America", "Oceania")

per il continente 1: massimo: 298408.0 minimo: 0.0 media: 3983.276344835599 la percentuale sui casi totali nel mondo è: 8.946076457855238
per il continente 2: massimo: 588813.0 minimo: 0.0 media: 476.4378808395396 la percentuale sui casi totali nel mondo è: 1.8362302809552526

In [307]:
totali_mondo_vacc = df["total_vaccinations"].sum()
print(totali_mondo_vacc)

5317825764796.0

## In questo modo però i dati non sono reali, sono presenti, infatti, nel df alcuni raggruppamenti. La cosa migliore per rientrare nei range sarebbe droppare all'inzio i Nan. So che non è quanto richiesto dalla traccia ma così avrei dati più sensati:

In [309]:
df=df.dropna(subset=["continent"])
continente = df.groupby(["continent"])["new_cases"].sum()
print(continente)

continent
Africa            13088991.0
Asia             297234406.0
Europe           249319188.0
North America    124175560.0
Oceania           14073975.0
South America     68568119.0
Name: new_cases, dtype: float64

In [310]:
totali_mondo = df["new_cases"].sum()
print(totali_mondo)

766460239.0

In [311]:
def descrittoribis (df, country1, country2):
    c1bis = df.loc[:, "continent"]== country1
    c2bis = df.loc[:, "continent"]== country2    
    
    output_percbis = df.loc[c1bis, "new_cases"].sum()
    output_perc2bis = df.loc[c2bis, "new_cases"].sum()
    
    totali_mondobis = df["new_cases"].sum()
    
    massimo_c1bis = df.loc[c1bis,"new_cases"].max()
    minimo_c1bis = df.loc[c1bis,"new_cases"].min()
    media_c1bis = df.loc[c1bis,"new_cases"].mean()
    massimo_c2bis = df.loc[c2bis,"new_cases"].max()
    minimo_c2bis = df.loc[c2bis,"new_cases"].min()
    media_c2bis = df.loc[c2bis,"new_cases"].mean()
    perc1bis = (output_percbis/totali_mondobis)*100
    perc2bis = (output_perc2bis/totali_mondobis)*100
    
    results_cont = pd.DataFrame({
        
    'continente': [country1, country2],
    'massimo' : [massimo_c1bis, massimo_c2bis],
    'minimo': [minimo_c1bis, minimo_c2bis],
    'media' : [media_c1bis, media_c2bis],
    'percentuale su tot': [perc1bis, perc2bis]
        
})
    return results_cont
    
      
    #print("per il continente 1:", "massimo:", massimo_c1bis,"minimo:", minimo_c1bis,"media:",media_c1bis, "la percentuale sui casi totali nel mondo è:",perc1bis)
    #print("per il continente 2:", "massimo:", massimo_c2bis,"minimo:", minimo_c2bis,"media:",media_c2bis, "la percentuale sui casi totali nel mondo è:", perc2bis)

In [312]:
descrittoribis(df, "Europe", "Asia")

  continente    massimo  minimo        media  percentuale su tot
0     Europe   500563.0     0.0  3973.784097           32.528653
1       Asia  6966046.0     0.0  5142.107916           38.780147

In [313]:
descrittoribis(df, "South America", "Oceania")

      continente   massimo  minimo        media  percentuale su tot
0  South America  298408.0     0.0  3983.276345            8.946076
1        Oceania  588813.0     0.0   476.437881            1.836230

In [314]:
def vaccinibis (df, country1, country2):
    v1bis = df.loc[:, "continent"]== country1
    v2bis = df.loc[:, "continent"]== country2    
    
    output_v1bis = df.loc[v1bis, "new_vaccinations"].sum()
    output_v2bis = df.loc[v2bis, "new_vaccinations"].sum()
    
    totali_mondo_vaccbis = df["new_vaccinations"].sum()
    
    massimo_v1bis = df.loc[v1bis,"new_vaccinations"].max()
    minimo_v1bis = df.loc[v1bis,"new_vaccinations"].min()
    media_v1bis = df.loc[v1bis,"new_vaccinations"].mean()
    massimo_v2bis = df.loc[v2bis,"new_vaccinations"].max()
    minimo_v2bis = df.loc[v2bis,"new_vaccinations"].min()
    media_v2bis = df.loc[v2bis,"new_vaccinations"].mean()
    perc_v1bis = (output_v1bis/totali_mondo_vaccbis)*100
    perc_v2bis = (output_v2bis/totali_mondo_vaccbis)*100
    
    results = pd.DataFrame({
    'continente': [country1, country2],
    'massimo' : [massimo_v1bis, massimo_v2bis],
    'minimo': [minimo_v1bis, minimo_v2bis],
    'media' : [media_v1bis, media_v2bis],
    'percentuale su tot': [perc_v1bis, perc_v2bis]
})
    return results
   
    #print("per il continente 1:", "massimo:", massimo_v1bis,"minimo:", minimo_v1bis,"media:",media_v1bis, "la percentuale sui vaccini totali nel mondo è:",perc_v1bis)
    #print("per il continente 2:", "massimo:", massimo_v2bis,"minimo:", minimo_v2bis,"media:",media_v2bis, "la percentuale sui vaccini totali nel mondo è:", perc_v2bis)

In [315]:
vaccinibis(df, "Europe", "Asia")

  continente     massimo  minimo          media  percentuale su tot
0     Europe   2389472.0     0.0   59965.765197           11.661595
1       Asia  24741000.0     0.0  510263.120065           69.598373

In [316]:
vaccinibis(df, "South America", "Oceania")

      continente    massimo  minimo          media  percentuale su tot
0  South America  3976605.0     1.0  150660.764075            7.772814
1        Oceania   351226.0     1.0   56859.011442            0.687353

## PUNTO 5

In qualunque caso io calcoli il minimo (nuovi casi o vaccini) è chiaro che se non viene imposta una condizione di ricerca del valore differente da zero, il minimo sarà sempre lo zero stesso a prescindere dal continente.

Per i casi è facile notare che l'incidenza maggiore è per Asia e Europa, paesi tra i più popolati e anche i primi ad esser colpiti dal covid.
Anche per le vaccinazioni, la percentuale maggiore risulta essere per Europa e Asia. Come prima possiamo dedurre che essendo tra i Paesi più colpiti, più popolati e con un'ondata di covid che ha anticipato altri Paesi, anche le vaccinazioni siano avvenute in misura maggiore.

Sottolineo che i dati sono stati ricavati considerando i "new_cases" e i"new_vaccinations" quindi *nuovi casi giornalieri* e *nuove vaccinazioni*, è possibile che in alcune date ci sia stato un calo o addirittura la presenza di zero nuovi casi o nuove vaccinazioni